header.s-header

  .s-header__banner
    .text-center
      picture
        //- source(srcset="/img/logos/logo-wsc.webp" type="image/webp")
        //- source(srcset="/img/logos/logo-wsc.jpg" type="image/jpeg")
        img.img-logo(src="/img/logos/logo-wsc.png" alt="Weidenhammer Logo" width="100" height="100")
      h1.font-weight-bold= translation.SITE_NAME
      //- p.sub-heading= translation.SITE_TAGLINE

